*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    
}
.board-container{
    display: grid;
    height: 700px;
    width: 600px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 100px;
    justify-content: center;
    
    
  
}
.cell{
    border: 1.2rem solid rgb(26, 25, 31);
     background-color: bisque;
     font-size: 1.75rem;
    
}
.one {
    border-top: none;
}
.uno {
    border-left: none;
}
.tres{
    border-right: none;
}
.dos{
    border-bottom: none;
    
}
.tic{
    font-size: 3.5rem;
}

.score{
    padding-top: 20px;
}
.reset{
    height: 150px;
    width: 300px;
    border-radius: 4px;
    font-size: 1.5rem;
    background-color: coral;
    border: white;
}

.player-container{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 22px;
    font-size: 1.5rem;
}

.reset-btn{
    display: flex;
    padding-top: 50px;
    gap: 30px;
}